*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a,a:hover{
    text-decoration: none;
}


.dept-list{
    list-style: none;
}

.dept-list li{
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 20px;
    background-color: rgb(226, 221, 213);
}

.dept-list li a{
    color:black;
    margin-left: 20px;
}

footer{
    background-color: #0a0a96;
    height: 40px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    margin-top: 10px;
}