*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a,a:hover{
    text-decoration: none;
}

.background {
    background-image: url('./image/golchottor.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: top;
    background-position-x: center;
    background-position-y: top;
    width: 100%;
    height: 400px;
}
.background h1{
    color: white;
    text-align: center;
    padding: 150px;
    font-size: 50px;
    opacity: 80%;
}

hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border-style: solid;
}

h2{
    text-align: center;
}

.allTeacher{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dept-teacher{
    margin: 15px;
    height: 400px;
    width: 400px;
    background-color:aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.image{
    height: 200px;
    width: 200px;
    margin: 20px;
    background-color: blue;
}
.image img{
    height: 200px;
    width: 200px;
}
.teacherInfo{
    margin: 0px 20px 20px 20px;
    width: calc(100% - 40px);
    font-size: 20px;
}
button{
    height: 40px;
    width: 150px;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: green;
    color: white;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
button:hover{
    transform: scale(1.2);
}

footer{
    margin-top: 20px;
    background-color: #0a0a96;
    height: 40px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 10px;
}
