*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none; 
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a,a:hover{
    text-decoration: none;
}

.form-box{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.form-data{
    padding: 20px;
    background-color: aliceblue;
    font-size: 20px;
    width: 300px;
    height: 300px;
    margin-top: 50px;
    border-radius: 3px;
}
input,button{
    border-style: solid;
    border-radius: 5px;
    height: 30px;
    width: 260px;
    padding: 2px;
    margin-bottom: 10px;
    font-size: 20px;
}
button{
    margin-top: 20px;
    background-color: #1c077d;
    color:white;
    cursor: pointer;
}

button:hover{
    transform: scale(1.1);
}

h3{
    text-align: center;
    padding-bottom: 20px;
}
