*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a,a:hover{
    text-decoration: none;
}


.background {
    background-image: url('./image/golchottor.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: top;
    background-position-x: center;
    background-position-y: top;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background h1{
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 50px;
    opacity: 80%;
}
/* faculty */

hr {
    border: none;
    border-top: 2px solid black;
    margin: 20px 0px 20px 0px;
  }
#fac{
    color: black;
    text-align: center;
    font-size: 30px;
}
.faculty{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    border-radius: 5px;
}
.boxr1 , .boxr2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    height: 500px;
    width: 400px;
    padding: 10px;
    background-color: rgb(242, 237, 237);
    flex: none;
    align-items: center;
    margin: 10px;
    transition: transform 0.3s ease;
}

.box:hover{
    transform: scale(1.1);
}

#b1 img,#b2 img,#b3 img,#b4 img,#b5 img{
    width: 380px;
    padding: 15px;

}
#b1 h4,#b2 h4,#b3 h4,#b4 h4,#b5 h4{
    padding-left: 15px;
}

.faculty li{
    list-style: none;
    padding-left: 15px;
    font-size: 17px;
}
.faculty a{
    color: black;
}
.box ul li a:hover{
    color: green;
}
footer{
    background-color: #0a0a96;
    height: 40px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 20px;
    padding: 10px;
}